<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>J2EEProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueServlet</display-name>
    <servlet-name>IssueServlet</servlet-name>
    <servlet-class>IssueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueServlet</servlet-name>
    <url-pattern>/IssueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierServlet</display-name>
    <servlet-name>SupplierServlet</servlet-name>
    <servlet-class>SupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierServlet</servlet-name>
    <url-pattern>/SupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTransDetailServlet</display-name>
    <servlet-name>AddTransDetailServlet</servlet-name>
    <servlet-class>AddTransDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTransDetailServlet</servlet-name>
    <url-pattern>/AddTransDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerShipServlet</display-name>
    <servlet-name>AddCustomerShipServlet</servlet-name>
    <servlet-class>AddCustomerShipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerShipServlet</servlet-name>
    <url-pattern>/AddCustomerShipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CumstomerShipServlet</display-name>
    <servlet-name>CumstomerShipServlet</servlet-name>
    <servlet-class>CumstomerShipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CumstomerShipServlet</servlet-name>
    <url-pattern>/CumstomerShipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSupplierShipServlet</display-name>
    <servlet-name>AddSupplierShipServlet</servlet-name>
    <servlet-class>AddSupplierShipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSupplierShipServlet</servlet-name>
    <url-pattern>/AddSupplierShipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerServlet</display-name>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>AddCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/AddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSupplierServlet</display-name>
    <servlet-name>AddSupplierServlet</servlet-name>
    <servlet-class>AddSupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSupplierServlet</servlet-name>
    <url-pattern>/AddSupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerPaymentServlet</display-name>
    <servlet-name>CustomerPaymentServlet</servlet-name>
    <servlet-class>CustomerPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerPaymentServlet</servlet-name>
    <url-pattern>/CustomerPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierPaymentSerlvet</display-name>
    <servlet-name>SupplierPaymentSerlvet</servlet-name>
    <servlet-class>SupplierPaymentSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierPaymentSerlvet</servlet-name>
    <url-pattern>/SupplierPaymentSerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TotalProfitServlet</display-name>
    <servlet-name>TotalProfitServlet</servlet-name>
    <servlet-class>TotalProfitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalProfitServlet</servlet-name>
    <url-pattern>/TotalProfitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepletedServlet</display-name>
    <servlet-name>DepletedServlet</servlet-name>
    <servlet-class>DepletedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepletedServlet</servlet-name>
    <url-pattern>/DepletedServlet</url-pattern>
  </servlet-mapping>
</web-app>